.header_ssau
{
	width: 100%;
	background: url(../img/ssau_logo.png) left center no-repeat;
	color: #5179ae;
	padding-left: 130px;
	margin-bottom: 68px;
	line-height: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 7pt;
    font-family: Segoe WP;
    margin-top: 1.0em;
}

.info {
    padding-left: 10px;
    font-size: 10pt;
}

.medium_tile, .mini_tile {
    background: #007ACC;
    position: relative;
}

.medium_tile_name, .mini_tile_name {
    color: #FFF;
    position:absolute;
    font-weight: bold;
}

.mini_tile, ui-index-new {
    width: 63px;
    height: 63px;
    margin-right: 2%;
    margin-bottom: 2%;
    position:relative;
    float: left;
}

.mini_tile_name {
    font-size: 20pt;
    left: 8%;
    bottom: 8%;
    position: absolute;
}

.medium_tile
{
	/*width: 48%;*/
    width: 134px;
	height: 134px;
	margin-right: 2%;
    margin-top: 2%;
    float: left;
}

.medium_tile_name
{
	font-size: 8.5pt;
    left: 5%;
	bottom: 5%;
    text-transform: uppercase;
}

.medium_tile.struct
{
	background: #007ACC url(../img/struct.png) center center no-repeat;
}

.medium_tile.shedule
{
	background: #007ACC url(../img/shed.png) center center no-repeat;
}

.medium_tile.staff
{
	background: #007ACC url(../img/staff.png) center center no-repeat;
}

.medium_tile.corps
{
	background: #007ACC url(../img/builds.png) center center no-repeat;
}

.medium_tile.details
{
	background: #007ACC url(../img/details.png) center center no-repeat;
}

.medium_tile.miscellaneous
{
	background: #007ACC url(../img/misc.png) center center no-repeat;
}

.medium_tile:active
{
	background-color: #007ACC;
}

input
{
    margin-bottom: 2%;
}

.shedule_item td {
    vertical-align: top;
}

.shedule_item {
   margin-bottom: 10px;
   margin-left: -12px;
   margin-top: -12px;
   width: 100%;
   word-wrap: break-word;
}

.shedule_item td .mini-tile {
    margin: 0;
    float: none;
}

.shedule_item td h1 {
    margin-top: 0;
}

.time_interval {
    font-size: 11px;
    text-align: right;
}

.practice {
    background: url(../img/practice.png) left top repeat-y;
}

.lab {
    background: url(../img/lab.png) left top repeat-y;
}

.lecture {
    background: url(../img/lecture.png) left top repeat-y;
}

.more {
    color: #aaa;
    font-size: 11px;
    line-height: 13px;
    margin-top: 7px;
}

.subject {
    font-size: 28px;
    padding-left: 7px;
    line-height: 20px;
    overflow: hidden;
    word-wrap: break-word;
}

.subject.none {
    color: #555;
}

.subject:active {
    background-color: #555;
}

.inactive {
    color: #aaa;
}
